<!-- 
This configuration together with 
providers.config will get iBatis up and running.
-->
<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="SalesData" connectionString="Data Source=pc-name\sqlexpress;Initial Catalog=ibatis;Integrated Security=True"/>
  </database>

  <sqlMaps>
    <sqlMap embedded="sqlFile.xml, ConsoleApplication1" />
  </sqlMaps>
</sqlMapConfig>